p{
    background-color: green;
    color: rgb(0, 0, 0);
    font-size: 60pt;

}
body{
    background-color: chocolate;
}
h1{
    color: blueviolet;
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
    background-color: aqua;
}